{% extends "layouts/base.html" %}

{% block page_title %}
Project
{% endblock %}

{% block content %}

{% include "components/page_header.html" with title="Project" subtitle="Create or update a project" %}

<form method="post">

    {% csrf_token %}

    <div class="card shadow-sm">

        <div class="card-body">

            {{ form.as_p }}

        </div>

        <div class="card-footer text-end">

            <button
                class="btn btn-primary"
                type="submit">

                Save Project

            </button>

        </div>

    </div>

</form>

{% endblock %}