{% extends "layouts/base.html" %}
{% block page_title %}
Equipment
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

<h2>Equipment</h2>

<a
    href="{% url 'equipment_create' %}"
    class="btn btn-primary">

    + Add Equipment

</a>

</div>

<input
class="form-control mb-3"
placeholder="Search Equipment">

<table class="table table-striped table-hover shadow-sm bg-white">

<thead class="table-dark">

<tr>

    <th>Name</th>
    <th>Category</th>
    <th>Unit</th>
    <th>Standard Rate</th>
    <th>SAC Code</th>
    <th>Status</th>
    <th>Actions</th>
    
</tr>

</thead>

<tbody>

{% for item in equipment %}

<tr>

    <td>{{ item.name }}</td>
    
    <td>{{ item.category }}</td>
    
    <td>{{ item.unit }}</td>

    <td>₹ {{ item.standard_rate }}</td>
    <td>{{ item.sac_code }}</td>

    <td>
        {% if item.is_active %}
            <span class="badge bg-success">Active</span>
        {% else %}
            <span class="badge bg-secondary">Inactive</span>
        {% endif %}
    </td>
    
    <td>
    
    <a
        href="{% url 'equipment_edit' item.id %}"
        class="btn btn-warning btn-sm">
    
        Edit
    
    </a>
    
    </td>
    
</tr>

{% empty %}

<tr>

<td colspan="3" class="text-center">

No Equipment Found

</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}