<ul class="nav nav-tabs mb-4">

    <li class="nav-item">
        <a class="nav-link active" href="#">
            Overview
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            Commercials
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            Billing
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            Invoices
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            Payments
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            Documents
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            Timeline
        </a>
    </li>

</ul>