<div class="list-group shadow-sm">

    <a href="#" class="list-group-item list-group-item-action active">
        🏠 Overview
    </a>

    <a
    href="{% url 'commercial_list' project.id %}"
    class="list-group-item list-group-item-action">

        💰 Commercials

    </a>

    <a href="#" class="list-group-item list-group-item-action">
        📝 Billing
    </a>

    <a href="#" class="list-group-item list-group-item-action">
        📄 Documents
    </a>

    <a href="#" class="list-group-item list-group-item-action">
        💳 Payments
    </a>

    <a href="#" class="list-group-item list-group-item-action">
        📈 Timeline
    </a>

</div>